*.aux
*.bbl
*.bin
*.blg
*.class
*.doc
*.elf
*.exe
*.fdb*
*.fls
*.idx
*.ilg
*.ind
*.jar
*.log
*.nav
*.o
*.odt
*.out
*.pdf
*.pyc
*.snm
*.so
*.synctex.gz*
*.tar
*.tar.gz
*.toc
*.vrb
*.zip
*.dvi
*.synctex
*~

!**/S_*/*.pdf
!**/img/*.pdf
!*_official.pdf
!*_problems.pdf
*.idea*
.ipynb_checkpoints/
.vscode/
Skripte/
__pycache__/
_build
bin/
handin/
include/
keystore/
lib/
pip-selfcheck.json
target/
*/svg-inkscape/*.pdf
*/svg-inkscape/*.pdf_tex